@model HospitalProjectTeamThree.Models.GetWellSoonCard
@{
    ViewBag.Title = "Index";
}

<h2>Get Well Soon Card</h2>
<div>Can't see your friends or beloved one at the hospital? </div>
<div>No problem! Please send your best wishes via our online card and leave the delivery to us!</div>
<div>Please <a href="/Account/Login">log in </a>or <a href="/Account/Register">register</a> to create the card</div>

