@model List<HospitalProjectTeamThree.Models.GetWellSoonCard>
@{
    ViewBag.Title = "List";
}

<h2>List of Cards</h2>
<div class="content">
    @{
        foreach (var Card in Model)
        {
            <div class="flexbox">
                <div class="picture">
                    @{
                        if (Card.HasPic == 1)
                        {
                            <img src="../../Images/GetWellCard/@(Card.CardId).@(Card.PicExt)" alt="Image of the card" />
                        }
                    }
                </div>
                <div class="detail">
                    <!--<div><a href="/Comic/Show/Comic.ComicId">Comic.ComicName</a></div>-->
                    <div>Message: @Card.Message</div>
                    <div>To: @Card.PatientName <span>@Card.PatientEmail</span></div>
                    <div>Room Number: @Card.RoomNumber</div>
                    <div>From: </div>

                    <!--<div><a href="/Comic/Update/Comic.ComicId">Update the comic</a></div>-->
                </div>
            </div>

        }
    }
</div>

<a href="/Comic/Add">Add a card</a>

