@model HospitalProjectTeamThree.Models.ViewModels.PersonalListGetWell
@{
    ViewBag.Title = "PersonalList";
}

<h2>PersonalList</h2>

<h2>List of Cards</h2>
<div class="content">
    @{
        foreach (var Card in Model.GetWellSoonCard)
        {
            <div class="col-md-4">
                <div>Message: @Card.Message</div>
                <div>To: @Card.PatientName <span>@Card.PatientEmail</span></div>
                <div>Room Number: @Card.RoomNumber</div>
                <!--<div>From: Model.UserName</div>-->
                <div><a href="/GetWellSoonCard/Show/@Card.CardId">Click to see the card</a></div>
                <div><a href="/GetWellSoonCard/Update/@Card.CardId">Edit the card</a></div>
            </div>
        }
    }
</div>
<a href="/GetWellSoonCard/Add">Add a card</a>