@model HospitalProjectTeamThree.Models.ViewModels.ShowGetWell
@{
    ViewBag.Title = "Show";
}

<h2>Card Detail:</h2>
<div class="col-md-4 col-sm-4">
    <div>Card Desgin:</div>
    <img src="~/Images/GetWellCard/@(Model.CardDesign.CardDesignId).@(Model.CardDesign.PicExt)" />
</div>
<div class="col-md-4 col-sm-4">    
    <div>Patient Name: @Model.GetWellSoonCard.PatientName</div>
    <div>Room Number: @Model.GetWellSoonCard.RoomNumber</div>
</div>
<div class="col-md-4 col-sm-4">
    <div>Patient Email: @Model.GetWellSoonCard.PatientEmail</div>
    <div>Message: @Model.GetWellSoonCard.Message</div>
    <div><a href="/GetWellSoonCard/Update/@Model.GetWellSoonCard.CardId">Edit the card</a></div>
    <div><a href="/GetWellSoonCard/Delete/@Model.GetWellSoonCard.CardId" class="btn btn-danger">Delete the card</a></div>
</div>
<div><a href="/GetWellSoonCard/List">Back to list</a></div>


