@model HospitalProjectTeamThree.Models.CardDesign
@{
    ViewBag.Title = "Add";
}

<h2>Add a design</h2>
<form method="post" action="/CardDesign/Add">
    <input type="text" name="DesignName" />
    <input type="submit" name="submit" value="Adding card design" />
</form>

