@model List<HospitalProjectTeamThree.Models.CardDesign>
@{
    ViewBag.Title = "List";
}

<h2>List of Card Design</h2>
@{
    foreach (var Design in Model)
    {
        <div class="col-md-3">
            <a href="/CardDesign/Show/@Design.CardDesignId"><img src="../../Images/GetWellCard/@(Design.CardDesignId).@(Design.PicExt)" alt="Image of the card" /></a>
            <div>@Design.DesignName</div>
            <div><a href="/CardDesign/Update/@Design.CardDesignId">Update the card</a></div>
        </div>

    }
}
<div><a href="/CardDesign/Add">Add a design</a></div>

