@model HospitalProjectTeamThree.Models.CardDesign
@{
    ViewBag.Title = "Show";
}

<h2>Card Detail</h2>
@{
    if (Model.HasPic == 1)
    {
    <div><img src="~/Images/GetWellCard/@(Model.CardDesignId).@(Model.PicExt)" /></div>
    }
}
<div>Design Name: @Model.DesignName</div>
<a href="/CardDesign/List">Back to List</a>
