@model HospitalProjectTeamThree.Models.CardDesign
@{
    ViewBag.Title = "Show";
}

<h2>Card Detail</h2>
<div class="col-md-6">
    @{
        if (Model.HasPic == 1)
        {
            <div><img src="~/Images/GetWellCard/@(Model.CardDesignId).@(Model.PicExt)" /></div>
        }
    }

</div>
<div class="col-md-6">
    <div>Design Name: @Model.DesignName</div>
    <div><a href="/CardDesign/Delete/@Model.CardDesignId">Delete the card</a></div>
    <div><a href="/CardDesign/Update/@Model.CardDesignId">Update the card</a></div>
</div>
<a href="/CardDesign/List">Back to List</a>
