@model HospitalProjectTeamThree.Models.CardDesign
@{
    ViewBag.Title = "Update";
}

<h2>Updating the card</h2>

<div class="row">
    <form method="post" action="/CardDesign/Update" enctype="multipart/form-data">
        @{
            if (Model.HasPic == 1)
            {
                <div class="col-md-4 col-sm-4"><img src="~/Images/GetWellCard/@(Model.CardDesignId).@(Model.PicExt)" /></div>
            }
        }
        <div class="col-md-8 col-sm-8">
            <label for="DesignName">Editting design name</label>
            <input type="text" name="DesignName" value="@Model.DesignName" />
            <input type="hidden" name="CardDesignId" value="@Model.CardDesignId" />
            <div class="imageupload"><span>Changing the image: </span> <input type="file" name="CardDesignPic" id="CardDesignPic" /></div>
            <input type="submit" name="submit" class="btn btn-primary" value="Update the card" />
            <a href="/CardDesign/List">No, go back to list</a>
        </div>
    </form>
</div>
   

