
@{
    ViewBag.Title = "ShowOne";
}

<h2>ShowOne</h2>

<div class="featured">
    <div class="card featured">
        <div class="thumb">
            <img src="~/images/private.jpg" alt="">
        </div>
        <div class="desc">
            <h2>Private</h2>
        </div>
        <div class="price center">$600</div>
        @* <p class="center">Must be logged in to register for a room</p>
            <input class="center" type="button" value="Login/Register">*@
    </div>

    <div class="roomdesc">
        <p>Private room</p>
    </div>
</div>
@*<div class="jumbotron profile">

            <form action="" method="POST">

                <label for="uid">User ID</label>
                <input type="text" id="uid" name="uid" value="" disabled /></br>
                <label for="userisAdmin">Role</label>
                <input type="text" id="userisAdmin" name="userisAdmin" value="" disabled /></br>
                <label for="userfname">First Name: </label>
                <input type="text" id="userfname" name="userfname" value="" /> </br>
                <label for="userlname">Last Name: </label>
                <input type="text" id="userlname" name="userlname" value="" /></br>
                <label for="useremail">Email: </label>
                <input type="text" id="useremail" name="useremail" value="" /></br>
                <label for="userpassword">Password: </label>
                <input type="password" id="userpassword" name="userpassword" value="" /></br>
                <button type="submit" name="updUser" id="updUser"> Update User</button>
                <button type="submit" name="deleteUser" id="deleteUser"> Delete Account</button>

        </form>

    </div>*@
<div class="flex-container">
    <div class="card">
        <div class="thumb">
            <img src="~/images/private.jpg" alt="">
        </div>
        <div class="desc">
            <h2>Private</h2>
        </div>
        <div class="price center">$600</div>
        <p class="center">Must be logged in to register for a room</p>
        <input class="center" type="button" value="Login/Register">
    </div>
    <div class="card">
        <div class="thumb">
            <img src="~/images/semiprivate.jpg" alt="">
        </div>
        <div class="desc">
            <h2>Semi-Private</h2>
        </div>
        <div class="price center">$300</div>
        <p class="center">Must be logged in to register for a room</p>
        <input class="center" type="button" value="Login/Register">
    </div>
    <div class="card">
        <div class="thumb">
            <img src="~/images/public.jpg" alt="">
        </div>
        <div class="desc">
            <h2>Public</h2>
        </div>
        <div class="price center">$100</div>
        <p class="center">Must be logged in to register for a room</p>
        <input class="center" type="button" value="Login/Register">
    </div>

</div>
