

@{
    ViewBag.Title = "Add";
}

<h2>Add a Job Listing</h2>
<form class="add" method="post" action="/JobListing/Add">

    <div>Job Title: <input type="text" name="JobTitle" id="JobTitle" /></div>
    <div>Job Description: <input type="text" name="JobDescription" id="JobDescription" /></div>


    <div>Salary: <input type="number" name="Salary" id="Salary" /></div>
    <div>Start Date: <input type="datetime" name="StartDate" id="StartDate" /></div>


    <div>Published <input type="radio" value="yes" /><input type="radio" value="no" /></div>
    <div>Department:
        <select id="DepartmentID" typeof="text" name="DepartmentID">
  
        </select>
    
    </div>


    <div><input type="submit" value="Add Job" /></div>
</form>
<a href="/JobListing/List">Back to list</a>


