@model List<HospitalProjectTeamThree.Models.JobListing>
@{
    ViewBag.Title = "List";
}

<h2>List of Jobs</h2>

<div class="tilecontainer">
    @{ 
        foreach(var job in Model)
        {
            <div class="itemdetails">
                <div class="listcat"><a href="/JobListing/Show/@job.JobID">@job.JobTitle</a></div>
                <div class="listcat"> Department: <span>@job.Department.DepartmentName</span></div>
            </div>
        }
    }

</div>

