@model HospitalProjectTeamThree.Models.ViewModels.ShowJobListing


@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<div>Job Title: @Model.JobListing.JobTitle</div>
<div>Job Description: @Model.JobListing.JobDescription</div>
<div>Department: @Model.JobListing.Department.DepartmentName</div>
<div>Salary: @Model.JobListing.Salary</div>
<div> <a href="/JobListing/Update/@Model.JobListing.JobID">Edit this Job</a></div>
<div> <a href="/JobListing/Delete/@Model.JobListing.JobID">Delete this Job</a></div>


