@model HospitalProjectTeamThree.Models.ViewModels.AddBlogTopic

    @{
        ViewBag.Title = "Add";
    }

    <h2>New Blog Entry</h2>
    <form class="add" method="post" action="/DoctorsBlog/Add">

        <div>Title: <input type="text" name="BlogTitle" id="BlogTitle" /></div>
        <div>Content: <textarea type="text" name="BlogContent" id="BlogContent"></textarea></div>
        <div>Source: <input type="text" name="BlogSource" id="BlogSource"/></div>
        <div><input type="submit" value="Add Blog Entry" /></div>
    </form>
    <a href="/DoctorsBlog/List">Back to list</a>

