@model HospitalProjectTeamThree.Models.DoctorsBlog
@{
    ViewBag.Title = "Delete";
}

<div>
    <!-- Confirmation page to confirm delete of blgo entry -->
    <h2 class="title">Are you sure you want to delete Blog Entry " <span class="delname">@Model.BlogTitle</span> " ?</h2>
    <div >
        <a href="/DoctorsBlog/DeleteF/@Model.BlogId" class="btn btn-danger btn-sm">Confirm</a>
        <a href="/DoctorsBlog/Index" class="btn btn-primary btn-sm">Back to List</a>
    </div>
</div>

