@model HospitalProjectTeamThree.Models.DoctorsBlog
    @{
        ViewBag.Title = "Index";
    }

    <h2>Doctor's Blog</h2>
    <div>Want to to read about the knowledge of our Doctors Staff not only in the medical field?</div>
    <div>Read their blog entries and expand your own knowledge!</div>
    <div>Please <a href="/Account/Login">log in </a>or <a href="/Account/Register">register</a> to see the blog entries!</div>
