@model HospitalProjectTeamThree.Models.DoctorsBlog
@{
    ViewBag.Title = "Show";
}

<h2>Blog Entry</h2>
<div>Title: @Model.BlogTitle</div>
<!--<div>Topic: @Model.Topics.</div>-->
<div>Content: @Model.BlogContent</div>
<div>Source: @Model.BlogSource</div>
<div><a href="/DoctorsBlog/Update/@Model.BlogId">Edit Blog Entry</a></div>
<div><a href="/DoctorsBlog/Delete/@Model.BlogId">Delete Blog Entry</a></div>
