@model HospitalProjectTeamThree.Models.LiveWaitTime
@{
    ViewBag.Title = "Index";
}

<h2>Live Wait Times</h2>
<div>Want to know the aprox wait time on the department you need to visit?</div>
<div>Read their blog entries and expand your own knowledge!</div>
<div>Please <a href="/Account/Login">log in </a>or <a href="/Account/Register">register</a> to see the blog entries!</div>


