
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="btn-floatright">
    <a href="/LiveWaitTime/List" class="btn btn-primary bottom-margin-10">Back to Full List</a>
    <a href="/LiveWaitTime/Add" class="btn btn-primary bottom-margin-10">New Live Wait Times Update</a>
</div>
<h1>Live Wait Times</h1>
<div class="panel panel-primary top">
    <div class="panel-heading header-color">
        List of Departments
    </div>
    <div class="panel-body">
        <form action="/LiveWaitTime/List" method="GET" class="form-inline form-border">
            <input type="text" class="form-control mr-sm-2" name="deptsearchkey" id="deptsearchkey" placeholder="Search by Name..." />
            <input type="submit" class="btn btn-default custom-btn"  value="Search" />
        </form>
        <table class="table table-dark top">
            <thead>
                <tr>
                    <th scope="col">Department</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var Department in Model)
                    {
                        <tr>
                            <td>
                                @Department.DepartmentName
                            </td>
                            <td>
                                <a href="/LiveWaitTime/Show/@Department.DepartmentId">View Updates</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
<div class="paginate">
    @{
        <div class="pagination-list">
            <a class="btn btn-primary" href="/LiveWaitTime/List?pagenum=@((int)ViewData["pagenum"]-1)&deptsearchkey=@ViewData["deptsearchkey"]" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            <div class="btn btn-primary disabled">@ViewData["pagesummary"]</div>
            <a class="btn btn-primary" href="/LiveWaitTime/List?pagenum=@((int)ViewData["pagenum"]+1)&deptsearchkey=@ViewData["deptsearchkey"]" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    }
</div>