@model HospitalProjectTeamThree.Models.ViewModels.ShowLiveWaitTimes

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="btn-floatright">
    <a href="/LiveWaitTime/List" class="btn btn-primary bottom-margin-10">Back to Department List</a>
    <a href="/LiveWaitTime/Add" class="btn btn-primary bottom-margin-10">New Live Wait Times Update</a>
</div>
<h1>@Model.Departments.DepartmentName</h1>
<div class="panel panel-primary top">
    <div class="panel-heading header-color">
        List of Wait Time Updates
    </div>
    <div class="panel-body">
        <table class="table table-dark top">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Current Wait Time</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var WaitTimes in @Model.WaitTimes)
                    {
                        <tr>
                            <td>
                                @WaitTimes.WaitUpdateDate.ToString("MM/dd/yyyy")
                            </td>
                            <td>
                                @WaitTimes.WaitUpdateTime.ToString("h:mm tt")
                            </td>
                            <td>
                                @{
                                    
                                    var status = Enum.GetName(typeof(HospitalProjectTeamThree.Models.WaitTimeDesc),
                                        Convert.ToInt32(WaitTimes.CurrentWaitTime));
                                 
                                    }
                             
                                @status
                            </td>
                            <td>
                                <a href="/LiveWaitTime/Update/@WaitTimes.WaitUpdateId" class="btn btn-primary btn-sm">Edit</a>
                                <a href="/LiveWaitTime/Delete/@WaitTimes.WaitUpdateId" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
