
@{
    ViewBag.Title = "Add";
}

<h2>New Blog Topic</h2>
<form class="add" method="post" action="/BlogTopic/Add">

    <div>Name: <input type="text" name="TopicName" id="TopicName" /></div>
    <div><input type="submit" value="Create Blog Topic" /></div>
</form>
<a href="/BlogTopic/List">Back to list</a>

