@model List<HospitalProjectTeamThree.Models.BlogTopic>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="btn-floatright">
        <a href="/BlogTopic/List" class="btn btn-primary bottom-margin-10">Back to Full List</a>
        <a href="/BlogTopic/Add" class="btn btn-primary bottom-margin-10">New Blog Topic</a>
        <a href="/DoctorsBlog/Index" class="btn btn-primary bottom-margin-10">Back to Blog List</a>
    </div>
<h1>Blog Topics</h1>
<div class="panel panel-primary top">
    <div class="panel-heading header-color">
        List of Topics
    </div>
    <div class="panel-body">
        <form action="/BlogTopic/List" method="GET" class="form-inline form-border">
            <input type="text" class="form-control mr-sm-2" name="topicsearchkey" id="topicsearchkey" placeholder="Search by Name..."/>
            <input type="submit" class="btn btn-default custom-btn" value="Search" />
        </form>
        <table class="table table-dark top">
            <thead>
                <tr>
                    <th scope="col">Topic ID</th>
                    <th scope="col">Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var Topic in Model)
                    {
                        <tr>
                            <td>
                                @Topic.TopicId
                            </td>
                            <td>
                                <a href="/BlogTopic/Show/@Topic.TopicId">@Topic.TopicName</a>
                            </td>
                            <td>
                                <a href="/BlogTopic/Update/@Topic.TopicId" class="btn btn-primary btn-sm">Edit</a>
                                <a href="/BlogTopic/Delete/@Topic.TopicId" class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>
<div class="paginate">
    @{
        <div class="pagination-list">
            <a class="btn btn-primary" href="/BlogTopic/List?pagenum=@((int)ViewData["pagenum"]-1)&topicsearchkey=@ViewData["topicsearchkey"]" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            <div class="btn btn-primary disabled">@ViewData["pagesummary"]</div>
            <a class="btn btn-primary" href="/BlogTopic/List?pagenum=@((int)ViewData["pagenum"]+1)&topicsearchkey=@ViewData["topicsearchkey"]" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    }
</div>