@model List<HospitalProjectTeamThree.Models.BlogTopic>
@{
    ViewBag.Title = "PublicList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-primary top">
    <div class="panel-heading header-color">
        List of Blog Topics
    </div>
    <div class="panel-body">
        <table class="table table-dark top">
            <thead>
                <tr>
                    <th scope="col">Toppic ID</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var Topic in Model)
                    {
                        <tr>
                            <td>
                                @Topic.TopicId
                            </td>
                            <td>
                                <a href="/BlogTopic/Show/@Topic.TopicId">@Topic.TopicName</a>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

