
@{
    ViewBag.Title = "Index";
}
<!--Purpose of this page is to redirect user to main page, or to the administrator view, if logged in user is administrator-->
<h2>Please Log in to Access the Page</h2>

