@model List<HospitalProjectTeamThree.Models.Article>
@{
    ViewBag.Title = "List";
}




<h1 class="crisiscenter">Covid - 19</h1>


<div class="crisiscontainer">
    <aside class="left">
        <ul>

             <li><a href="#">Covid 19 2020</a></li>
            <li><a href="#">Spanish Flu 1920</a></li>
            <li><a href="#">Cholera 1820</a></li>
           
        </ul>
    </aside>
    <main class="crisismain">

        @{


            foreach (var Article in Model)
            {


                <p></p>

                <h2>@Article.ArticleTitle</h2>
                <div class="cred"><span class="auth">Author: @Article.ArticleAuthor</span><span class="publ">Published: @Article.DatePosted</span></div>
                <p>@Article.ArticleContent </p>
            }
        }

    </main>
    <aside class="right">
        <h3>You can stay healthy...</h3>
        <ul>
            <li>Wash your hands</li>
            <li>Wear Gloves</li>
            <li>Drink Water</li>
        </ul>
    </aside>
</div>

