@model List<HospitalProjectTeamThree.Models.Article>
@{
    ViewBag.Title = "List";
}




<h1 class="crisiscenter">Covid - 19</h1>

@{


    foreach (var Article in Model)
    {


        <p>@Article.ArticleTitle</p>


    }
}
<div class="crisiscontainer">
    <aside class="left">
        <ul>



            <li><a href="#">Covid 19 2020</a></li>
            <li><a href="#">Spanish Flu 1920</a></li>
            <li><a href="#">Cholera 1820</a></li>



        </ul>
    </aside>
    <main class="crisismain">
        <h2>China Is Innocent</h2>
        <div class="cred"><span class="auth">Author: Hospital</span><span class="publ">Published: April 1, 2020</span></div>
        <p>Contrary to popular believe China did fantastic job to contain the virus, however it was not effective since other counties have not suspended Air Travel </p>
    </main>
    <aside class="right">
        <h3>You can stay healthy...</h3>
        <ul>
            <li>Wash your hands</li>
            <li>Wear Gloves</li>
            <li>Drink Water</li>
        </ul>
    </aside>
</div>

