@model List<HospitalProjectTeamThree.Models.Article>
@{
    ViewBag.Title = "ViewArticle";
}

<!--This page is visible to all users-->
    <div>
        <a href="/Article/List">Back to list of all articles</a>
    </div>
@{

    foreach (var Article in Model)
    {
        
        <main class="crisismain">
            <h2>@Article.ArticleTitle</h2>
            <div class="cred"><span class="auth">Author: @Article.ArticleAuthor</span><span class="publ">Published: @Article.DatePosted</span></div>
            <p>@Article.ArticleContent </p>
        </main>
        <!--<button><a href="/Article/Delete/@Article.ArticleId">Delete Article</a></button>-->
    }
}
