@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()



    <span class="logoff_btn"><a type="button" class="btn btn-spec" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></span>

    <span class="user_greeting"> @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="user_greeting" })</span>
        

    }
}
else
{

    <span class="btn btn-spec">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</span>
    <a href="/Account/Login" type="button" class="btn btn-spec">LOG IN</a>

}
