@model HospitalProjectTeamThree.Data.ApplicationUser

@{ 
    ViewBag.Title = "Add";
}

<h2>Add Feedback</h2>

<form method="post" action="/Feedback/Add">
    <div class="form-group">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Doctor Name:</label>
            <div class="col-sm-10">
                <input type="text" name="DoctorName" class="form-control" />
            </div>
        </div>
        <div class="form-group row">

            <label class="col-sm-2">Feedback Type:</label>
            <div class="form-check form-check-inline">
                <input type="checkbox" name="Compliment" class=" form-check form-check-inline" />
                <label class="form-check-label"> Compliment </label>
                <input type="checkbox" name="Complain" class=" form-check form-check-inline" />
                <label class="form-check-label"> Complain </label>
                <input type="checkbox" name="Suggestions" class=" form-check form-check-inline" />
                <label class="form-check-label"> Suggestions </label>
                <input type="checkbox" name="Others" class=" form-check form-check-inline" />
                <label class="form-check-label"> Others </label>
            </div>


        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Overall Ratings:</label>

            <table border="1"  width="55%">
                <thead>
                    <tr>
                        <td></td>
                        <th><center>Satisfied</center></th>
                        <th><center>Neutral</center></th>
                        <th><center>Unsatisfied</center></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><center>Staff Knowledge</center></th>
                        <td>
                            <center><input type="radio" name="StaffKnowledge" value="Satisfied" /></center>
                        </td>
                        <td>
                            <center><input type="radio" name="StaffKnowledge" value="Neutral" /></center>
                        </td>
                        <td>
                            <center><input type="radio" name="StaffKnowledge" value="Unsatisfied"/></center>
                        </td>
                    </tr>

                    <tr>
                        <th><center>Hygiene</center></th>
                        <td>
                            <center><input type="radio" name="Hygiene" value="Satisfied" /></center>
                        </td>
                        <td>
                            <center><input type="radio" name="Hygiene" value="Neutral" /></center>
                        </td>
                        <td>
                            <center><input type="radio" name="Hygiene" value="Unsatisfied"/></center>
                        </td>
                    </tr>
                    <tr>
                        <th><center>Waiting Time</center></th>
                        <td>
                            <center><input type="radio" name="WaitTime" value="Satisfied" /></center>
                        </td>
                        <td>
                            <center><input type="radio" name="WaitTime" value="Neutral"  /></center>
                        </td>
                        <td>
                            <center><input type="radio" name="WaitTime" value="Unsatisfied"/></center>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="form-group row">
            <label class="col-form-label col-sm-4 col-form-label">How can we improve our service:</label>

            <textarea name="Comments" cols="45" rows="5" class="form-control">Please limit your response to 500 characters.</textarea>

        </div>
        <div class="form-group row">
            <button  class="btn btn-dark" type="submit">Add Feedback</button>
        </div>
    </div>
</form>