/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* body {
    max-width: 1200px;
    margin: 0 auto;
} */

.crisiscenter {
    text-align: center;
    padding: 20px;
}



.right {
    border: 2px solid black;
    margin: 2px;
}

.crisiscontainer {
    display: flex;


}

.crisismain {
    padding: 20px 40px;
    border-left: 5px solid black;
    border-radius: 5px;
}

.left {
    width: 20%;
    /* border-right: 5px solid black; */
    border-radius: 3px;
    padding: 20px;
}

.right {
    width: 30%;
    border-radius: 10px;
    padding: 20px;
}

/* li {
    padding: 20px;
    list-style-type: none;
} */
.cred{
    padding:10px 20px;
}
.auth{
    margin: 10px;
}