/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* body {
    max-width: 1200px;
    margin: 0 auto;
} */


.crisiscenter {
    text-align: center;
    padding: 20px;
}



.right {
    border: 2px solid black;
    margin: 2px;
    width: 30%
}

/*.crisiscontainer {
    display: flex;
    width:100%;
}*/



.left {
    width: 20%;
    /* border-right: 5px solid black; */
    border-radius: 3px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.crisismain {
    padding: 20px 40px;
    border-left: 5px solid black;
    
    border-radius: 5px;
    width:58%;
    display:inline-block;
}


.right {
    width: 20%;
    border-radius: 10px;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

/* li {
    padding: 20px;
    list-style-type: none;
} */
.cred{
    padding:10px 20px;
}
.auth{
    margin: 10px;
}
.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    border: 3px solid red;
    margin: 10px;
}