*{
    box-sizing: border-box;
}
.flex-container{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    width: 32%;
    max-width: 400px;
    /* border: 1px solid orange; */
    margin: 5px auto;
}
.thumb{
    width: 90%;
    margin: 5px auto;
    height: 100%;
    
}
.desc{
    text-align: center;
    margin-top: 10px;   
}
img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: block;
}
.center{
    margin: 10px auto;
}
/* Selected Room, description, and Account */
.featured{
    /* border: 1px solid black; */
    width:100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card.featured{
    margin: unset;
    /* border: 1px solid black; */
    width: 30%;
    display: flex;
    flex-direction: column;
}
.roomdesc{
    display: table-cell;
    /* border: 1px solid black; */
    width: 30%;
    text-align: center;
    padding-top: 10%;
    
}
.profile{
    /* border: 1px solid black; */
    width: 30%;
    display: flex;
    flex-direction: column;
}
