body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Developer : Priyanka Khadilkar*/
.top-margin-30 {
    margin-top: 30px !important;
}

.bottom-margin-10{
    margin-bottom : 10px;
}

/*Developer : Alexa Perez*/

#container-bg {
    background-color: #07407b;
    color:white;
    padding:1em;
    border-radius:20px;
    max-width:600px;

}
.title-b{
    text-transform:uppercase;
    text-align:center;
    padding:1em;
}
.blog-topic, .blog-topic-div {
    padding: 0.3em;
}
.blog-topic a{
    color:white;
}
.blog-date, .blog-author{
    float:right;
}
.blog-content {
    text-align:center;
    text-justify:distribute-all-lines;
    max-width:300px;
    margin-top:3em;
    margin-bottom:3em;
}
.blog-source{
    float:left;
}
.blog-edit {
   text-align:center;
   margin-top:2em;
}
/*****************************/