@model HospitalProjectTeamThree.Models.Crisis
@{
    ViewBag.Title = "UpdateCrisis";
}

<h2>UpdateCrisis</h2>

<a href="/Crisis/CrisisList">Back to List</a>

<form action="/Crisis/UpdateCrisis/@Model.CrisisId" method="POST">


    <h1> Create New Crisis</h1>
    <div><label for="CrisisName">Enter crisis Name: </label><br /><input id="CrisisName" type="text" name="CrisisName" value="@Model.CrisisName" /></div>
    <div><label for="CrisisStarted">Crisis Started</label><br /><input id="CrisisStarted" type="date" name="CrisisStarted" value="@Model.CrisisStrated" /></div>
    <div><label for="CrisisFinished">Crisis Finished</label><br /><input id="CrisisFinished" type="date" name="CrisisFinished" value="@Model.CrisisFinished" /></div>
    <div><label for="CrisisDesc">Crisis Description</label><br /><textarea id="CrisisDesc" name="CrisisDesc" rows="4" cols="50">@Model.CrisisDesc</textarea></div>
    <input type="submit" value="Update Crisis" />

</form>